.background-img {
  background-image: url(../img/webp/bg-weather-mb-1x-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-resolotion: 192dpi) {
  .background-img {
    background-image: url(../img/webp/bg-weather-mb-2x-min.png);
  }
}

@media screen and (min-width: 768px) {
  .background-img {
    background-image: url(../img/webp/bg-weather-tb-1x-min.png);
  }
  @media screen and (min-resolotion: 192dpi) {
    .background-img {
      background-image: url(../img/webp/bg-weather-tb-2x-min.png);
    }
  }
}

@media screen and (min-width: 1440px) {
  .background-img {
    background-image: url(../img/webp/bg-weather-pc-1x-min.png);
  }
  @media screen and (min-resolotion: 192dpi) {
    .background-img {
      background-image: url(../img/webp/bg-weather-pc-2x-min.png);
    }
  }
}
